@(id: Long, form: Form[BookData])(implicit request: MessagesRequestHeader)

@main("Edit Book") {
    <div class="card">
        <form method="POST"
        action="@routes.BookController.update(id)"
        enctype="multipart/form-data">

            @helper.CSRF.formField

            @helper.inputText(form("title"), Symbol("_label") -> "Title")

            @helper.inputText(form("author"), Symbol("_label") -> "Author")



            @helper.inputText(
                form("image"),
                Symbol("_label") -> "Cover",
                Symbol("type") -> "file",
                Symbol("name") -> "image",
            )
@*            <label>Cover</label>*@
@*            <input type="file" name="image">*@
@*            <small>Leave empty to keep current cover</small>*@

            @helper.inputText(form("pages"), Symbol("_label") -> "Pages (optional)")

            @helper.inputText(
                form("publishedDate"),
                Symbol("_label") -> "Published Date",
                Symbol("type") -> "date"
            )

            <div class="row" style="margin-top: 12px;">
                <button class="btn" type="submit">Save</button>
                <a class="btn" href="@routes.BookController.show(id)">Cancel</a>
            </div>
        </form>
    </div>
}
