@(id: Long, form: Form[BookData])(implicit request: MessagesRequestHeader)

@main("Edit Book") {
    <div class="card">
        <form method="POST"
        action="@routes.BookController.update(id)"
        enctype="multipart/form-data">

            @helper.CSRF.formField

            <label style="display: none;">Title</label>
            @helper.inputText(form("title"))

            <label style="display: none;">Author</label>
            @helper.inputText(form("author"))

            <label style="display: none;">Cover</label>
            <input type="file" name="image">
            <small>Leave empty to keep current cover</small>

            <label style="display: none;">Pages (optional)</label>
            @helper.inputText(form("pages"))

            <label style="display: none;">Published Date</label>
            @helper.inputText(
                form("publishedDate"),
                Symbol("type") -> "date"
            )

            <div class="row" style="margin-top: 12px;">
                <button class="btn" type="submit">Save</button>
                <a class="btn" href="@routes.BookController.show(id)">Cancel</a>
            </div>
        </form>
    </div>
}
